[Unit]
Description=secluso_updater
RequiresMountsFor=/home
RequiresMountsFor=/provision
RequiresMountsFor=/data
# https://systemd.io/NETWORK_ONLINE/
After=network.target

[Service]
User=root
WorkingDirectory=/data

ExecStart=/usr/bin/tuf-updater
Environment="RUST_LOG=info"
Environment="UPDATE_HINT_PATH=/data/update_hint"
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
